<html>
  <head>
    <title>Mago da Programação | Jobs</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="js/foundation.js">
    <link rel="stylesheet" href="js/foundation.min.js">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>

  <body>
    <section class="col-md-12">
    <video autoplay loop muted="true">
    <source src="/home/mago/cafecomti/video/WEBM/1.webm" type="video/webm"/>
    </video>
    <div class="containered">
    <div class="inner">
    <h1>A bolsa de bitcoins feita do jeito certo</h1>
    <div class="divisor"></div>
    <p>Comece hoje mesmo a comprar e vender bitcoins, com transparência, agilidade e segurança.</p>
    <div class="clear"></div>
    <div class="botoes">
    <div class="btns">
    <a class="cadastro-btn" rel="nofollow" href="https://foxbit.exchange/">Acessar a plataforma</a> </div>
    </div>
    <div class="clear"></div>
    </div>
    </div>
    </section>
  </body>
</html>
