<!DOCTYPE html>
<html>
  <head>
    <title>Mago da Programação | Jobs</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="js/foundation.js">
    <link rel="stylesheet" href="js/foundation.min.js">
    <link rel="stylesheet" href="css/video.css"/>
    <link rel="icon" type="image/png" href="imagens/icon.png" sizes="16x16">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="jobs, empregos, vaga, ti, programador, analista de sistemas, estagio, homeoffice,">
    <meta name="description" content="Site de emprego direcionado ao publico de tecnologia (TI). Desenvolvedores, Programadores, DBA, Analistas, BI e outros">
  </head>

<body>
  <div class="fulll">
        <div class="fullscreen-bg">
            <video autoplay loop poster="video/photo/1.jpg" class="fullscreen-bg__video">
              <source src="video/WEBM/1.webm" type="video/WEBM" />
              <source src="video/MP4/1.mp4" type="video/mp4"/>
            </video>
        </div>



        <div class="top">
          <img src="imagens/logo.png" class="thumbnail" align="left" height="600" width="200">
        </div>
        <div class="top" align="right">
          <a class="hollow button " href="cadastro.html"><n>Cadastrar CV</n></a>
          <a class="hollow button "><n>Anuciar Vaga</n></a>
          <a class="hollow button"> Login</a>
        </div>
      <!-- Campo Busca -->
        <div class="busca row">
          <div class ="small-6 columns small-centered">
            <div class="input-group">
                <input class="input-group-field" type="text" placeholder="Buscar Vaga    EX: Analista de Sistemas Curitiba">
              <div class="input-group-button">
                <input type="submit" class="button" value="Buscar">
              </div>
            </div>
          </div>
          <div class="bottomright">
            <a class="tab" href="">Quem Somos</a>
            <a class="tab" href="">Fale Conosco</a>
            <a class="tab" href="">Anuncie Aqui</a>
          </div>
        </div>
      </div>
    </body>
</html>
