
<hmtl>
  <link rel="stylesheet" href="css/foundation.css" />
  <link rel="stylesheet" href="css/app.css" />
  <link rel="stylesheet" href="js/foundation.js">
  <link rel="stylesheet" href="js/foundation.min.js">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Café com TI</title>
  <head>
  </head>
  <boby>
      <div align="center">
        <h3>Área de Login</h3>
        <form data-abide novalidate>
          <div class="">
            <div class="large-3 large-centered columns">
              <div class="email-field">
              <label>E-mail:
                <input type="email" placeholder="E-mail" required>
                  <span class="form-error">This field is required.</span>
              </label>

              <label for="password"> Senha:
                <input type="password" placeholder="Senha" aria-describedby="exampleHelpText" required >
                <span class="form-error">
        Hey, passwords are supposed to match!
      </span>
              </label>

              <a class="large button" href="#">Acessar</a>
        </form>
      </div>
  </boby>
</html>
