<link rel="stylesheet" href="css/foundation.css" />
<link rel="stylesheet" href="css/app.css" />
<link rel="stylesheet" href="js/foundation.js">
<link rel="stylesheet" href="js/foundation.min.js">

<div class="menu-centered">
  <ul class="menu">
    <li><a href="#">One</a></li>
    <li><a href="#">Two</a></li>
    <li><a href="#">Three</a></li>
    <li><a href="#">Four</a></li>
  </ul>
</div>
<div class="busca row">
  <div class ="small-6 columns small-cen"
  <div class="input-group">
    <input class="input-group-field" type="text" placeholder="Buscar Vaga    EX: Analista de Sistemas Curitiba">
    <div class="input-group-button">
      <input type="submit" class="button" value="Buscar">
    </div>
  </div>


  <form >
  <div class="small-2 small-centered columns">
    <label>
    <input type="text" placeholder="Buscar Vaga">
  </label>
  <
  <label>
                  <select name=Estado>
                    <option value="estado">Todo Brasil</option>
    <option value="ac">Acre</option>
    <option value="al">Alagoas</option>
    <option value="am">Amazonas</option>
    <option value="ap">Amapá</option>
    <option value="ba">Bahia</option>
    <option value="ce">Ceará</option>
    <option value="df">Distrito Federal</option>
    <option value="es">Espírito Santo</option>
    <option value="go">Goiás</option>
    <option value="ma">Maranhão</option>
    <option value="mt">Mato Grosso</option>
    <option value="ms">Mato Grosso do Sul</option>
    <option value="mg">Minas Gerais</option>
    <option value="pa">Pará</option>
    <option value="pb">Paraíba</option>
    <option value="pr">Paraná</option>
    <option value="pe">Pernambuco</option>
    <option value="pi">Piauí</option>
    <option value="rj">Rio de Janeiro</option>
    <option value="rn">Rio Grande do Norte</option>
    <option value="ro">Rondônia</option>
    <option value="rs">Rio Grande do Sul</option>
    <option value="rr">Roraima</option>
    <option value="sc">Santa Catarina</option>
    <option value="se">Sergipe</option>
    <option value="sp">São Paulo</option>
    <option value="to">Tocantins</option>
  </select></label>
  </div>
